* {
    margin: 0;
    padding: 0;
}

.row {
    line-height: 0;
}

.wall {
    background-color: blue;
    height: 40px;
    width: 40px;
    display: inline-block;
    position: relative;

}

.sushi {
    background-color: black;
    height: 40px;
    width: 40px;
    display: inline-block;
    background-image: url('sushi.png');
    background-size: contain;
}

.onigiri {
    background-color: black;
    height: 40px;
    width: 40px;
    display: inline-block;
    background-image: url('onigiri.png');
    background-size: contain;
}

.blank {
    background-color: black;
    height: 40px;
    width: 40px;
    display: inline-block;
}


#ninjaman {
    background-color: black;
    height: 40px;
    width: 40px;
    display: inline-block;
    background-image: url('pacman.gif');
    background-size: 120px 54px;
    background-position-x: center;

    position: absolute;
    top: 40px;
    left: 40px;
}


#container {
    display: flex;
}


#score {
    top: 20%;
    right: 30%;
    font-size: 30px;
}

#yourTime {
    top: 28%;
    right: 20%;
    font-size: 30px;
}

#timer {
    font-size: 20px;
}

#stoppedTimer {
    font-size: 20px;
}